@import '../../vars';

.popup {
    max-width: 1100px;

    &__inner {
        background: linear-gradient(180deg, #002406 0%, rgba(0, 36, 6, 0.871589) 35.76%, rgba(0, 36, 6, 0) 190%);
        margin: 0 15px;
        color: #fff;
        position: relative;
        padding: 30px 30px 60px;
        border: 0;
        border-radius: 0;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: -1;
            top: 0;
            left: 0;
        }

        @media (max-width: $lg) {
            padding: 15px;
        }

        @media (max-width: $md) {
            font-size: 14px;
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        height: 20px;
        display: flex;

        &:hover {
            svg {
                opacity: 1;
            }
        }

        svg {
            vertical-align: top;
            fill: #fff;
            opacity: .8;
            transition: all .2s ease;
        }
    }

    &__title {
        text-align: center;
        color: #ffd412;
        font-size: 45px;
        margin-bottom: 50px;

        @media (max-width: $lg) {
            margin-bottom: 20px;
        }

        @media (max-width: $md) {
            margin-bottom: 10px;
            font-size: 35px;
        }
    }

    &__content {
        display: flex;

        @media (max-width: $md) {
            flex-wrap: wrap;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-right: 40px;

        @media (max-width: $md) {
            margin: auto;
        }
    }

    &__subtitle {
        font-size: 25px;
        margin-bottom: 10px;

        @media (max-width: $md) {
            margin-bottom: 0;
            font-size: 20px;
        }
    }

    &__paragraph {
        text-align: justify;
        line-height: 163.35%;
    }

    &__section + &__section {
        margin-top: 50px;

        @media (max-width: $md) {
            margin-top: 20px;
        }

        @media (max-width: $md) {
            margin-top: 10px;
        }
    }

    &__caption {
        color: #f67110;
    }

    &__text {
        text-align: justify;
    }

    &__technologies {
        display: flex;
        flex-wrap: wrap;
    }

    &__holder {
        flex-basis: 50%;
        margin-bottom: 20px;

        &:nth-child(odd) {
            padding-right: 10px;
        }

        &:nth-child(even) {
            padding-left: 10px;
        }

        @media (max-width: $lg) {
            flex-basis: 100%;
            padding: 0;
            margin-bottom: 10px;

            &:nth-child(odd),
            &:nth-child(even) {
                padding: 0;
            }
        }
    }

    &__link {
        margin: 20px auto 0;
        color: #ffd412;
        letter-spacing: 2px;
        text-transform: uppercase;

        &:hover {
            color: #ffd412;
        }

        @media (max-width: $md) {
            margin-top: 10px;
        }
    }

    &__external-link {
        fill: #ffd412;
        margin-left: 5px;

        svg {
            height: 18px;
            width: 18px;
            vertical-align: top;
            margin-top: 2px;
        }
    }

    &__questions {
        margin: auto;
        display: flex;

        @media (max-width: $lg) {
            flex-direction: column;
        }

        @media (max-width: $md) {
            flex-direction: row;
        }
    }

    &__email {
        font-size: 25px;
        text-decoration: underline;
        color: #f67110;
        margin-left: 30px;

        &:hover {
            text-decoration: none;
            color: #f67110;
        }

        @media (max-width: $lg) {
            margin: auto;
        }

        @media (max-width: $md) {
            font-size: 20px;
            margin-left: 10px;
        }
    }

    &__img {
        @media (max-width: $lg) {
            width: 250px;
        }
    }
}
